.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    // 100% of parent element (.section-story found in home page)
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .15;
    overflow: hidden;

    &__content {
        height: 100%;
        width: 100%;
        // Like background-image: cover but with HTML elements, or videos in this case
        object-fit: cover;
    }
}